<div class="container">
  <h3 class="text-center">Новости</h3>
<% @informations.each do |information| %>
<div class="col-md-4">

  <%= link_to information.title, information_path(information) %>
  <%= link_to information.article, information_path(information) %><br/>
 <%= link_to 'Edit', edit_information_path(information) %> |
  <%= link_to 'Destroy', information_path(information), method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>

<% end %> 

