@import"bootstrap-sprockets";
@import"bootstrap";

small{
  color: grey;
}
h3{
  color: #898989;
}
.size{
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
}
.sizeimg{
  width:200px;
  height:200px;
}

.ex{
  width: 265px;
  height: 150px;
  margin-top:10px;
}

.ex1{
  width: 370px;
  height: 300px;

}
.left{
  float:left;
  font-size:18px;
}
.desc{
  font-size:18px;
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
  background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}